@use "app/styles/use/utils";
@use "app/styles/use/typography";

.brief {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__image {
    img {
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-transform: translateZ(0);
      -webkit-perspective: 1000px;
      -webkit-backface-visibility: hidden;
      transition: filter 500ms;
    }
  }

  & > div {
    height: 100vh;
   & > div {
     inset: 0 !important;
   }
  }

  &__container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: 500ms;

    &.animate {
      animation: fadeIn ease .5s both;
    }
  }

  &__title {
    @include typography.sectionTitle(#000);
    max-width: 600px;
  }

  &__link {
    margin-top: 55px;
    text-align: center;
    display: inline-block;
  }


  &__actions {
    position: absolute;
    z-index: 1;
    bottom: 64px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 500ms;

    &.animate {
      animation: fadeIn ease .5s both;
    }
  }

  &__bg {
    position: absolute;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  @include utils.media-max-width(1600) {
    min-height: 600px;

    &__link {
      margin-top: 40px;
    }

    &__actions {
      bottom: 60px;
    }
  }

  @include utils.media-max-width(1279) {
    min-height: 400px;

    &__title {
      max-width: 400px;
    }

    &__link {
      margin-top: 35px;
    }
  }

  @include utils.media-max-width(1023) {
    &__link {
      margin-top: 30px;
    }
  }

  @include utils.media-max-width(767) {
    min-height: 650px;

    &__title {
      max-width: 210px;
    }

    &__link {
      margin-top: 20px;
    }
  }
}

@keyframes fadeIn {
  0% {opacity:0; }
  100% {opacity:1;}
}
