@use "app/styles/use/utils";
@use "app/styles/use/typography";

.brief {
  height: 100vh;
  position: relative;

  & > div {
    height: 100vh;
   & > div {
     inset: 0 !important;
   }
  }

  &__container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &__title {
    @include typography.sectionTitle(#000);
    max-width: 600px;
  }

  &__link {
    margin-top: 55px;
    @include typography.ButtonLink();
  }


  &__actions {
    position: absolute;
    z-index: 1;
    bottom: 64px;
    left: 0;
    width: 100%;
  }

  &__bg {
    position: absolute;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  @include utils.media-max-width(1600) {
    min-height: 600px;

    &__link {
      margin-top: 40px;
    }

    &__actions {
      bottom: 60px;
    }
  }

  @include utils.media-max-width(1279) {
    min-height: 400px;

    &__title {
      max-width: 400px;
    }

    &__link {
      margin-top: 35px;
    }
  }

  @include utils.media-max-width(1023) {
    &__link {
      margin-top: 30px;
    }
  }

  @include utils.media-max-width(767) {
    min-height: 650px;

    &__title {
      max-width: 210px;
    }

    &__link {
      margin-top: 20px;
    }
  }
}
