.card {
  width: 50%;
  height: 464px;
  padding: 60px 60px 53px 47px;

  &:hover {
    .card__text {
    }
  }


  &.leftTop {
    border-radius: 25px 0 0 0;
  }

  &.rightTop {
    border-radius: 0 25px 0 0;
  }

  &.bottomLeft {
    border-radius: 0 0 0 25px;
  }

  &.bottomRight {
    border-radius: 0 0 25px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__icon {
  }

  &__number {
    margin-top: auto;
    font-weight: 600;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-size: 18px;
    margin-left: 2px;
    margin-bottom: 17px;
  }

  &__title {
    font-size: 23px;
    line-height: 29px;
    font-weight: 600;
    max-width: 200px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-top: 1px solid #D8E2EB;
    padding-top: 19px;
    margin-top: 23px;
  }
}
