@use "app/styles/use/typography";
@use "app/styles/use/colors";
@use "app/styles/use/utils";

.experience {
  background-color: colors.$colorText;
  padding: 130px 0 140px;

  &__body {
    color: #fff;
  }

  &__title {
    @include typography.sectionTitle(#fff);
    max-width: 1000px;
    margin-bottom: 80px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__inner {
    display: grid;
    grid-template-columns: 423px 1fr;
    grid-column-gap: 190px;
    align-items: start;
  }

  &__image {
    position: relative;

    img {
      border-radius: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      border-radius: 20px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: linear-gradient(0deg, rgba(30, 9, 75, 0.05), rgba(30, 9, 75, 0.05)), linear-gradient(360deg, rgba(9, 10, 55, 0.2) 0%, rgba(7, 8, 35, 0) 34.3%, rgba(255, 255, 255, 0) 41.95%), linear-gradient(0deg, rgba(51, 23, 86, 0.18) 0%, rgba(130, 131, 221, 0) 52.78%);
    }
  }

  &__info {
    margin-top: 49px;

    &.mobile {
      display: none;
    }

    &_position {
      color: #B9C2CF;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &_name {
      font-weight: 600;
      font-size: 46px;
      line-height: 57.5px;
      margin-bottom: 26px;
    }

    &_description {
      font-weight: 500;
      line-height: 51px;
      font-size: 32px;
      margin-bottom: 57px;
    }

    &_more {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 10px;
      position: relative;
      padding-bottom: 4px;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
        bottom: 0;
        left: 0;
      }
    }

    &_link {
      @include typography.ButtonLink();
      background-color: #fff;
    }
  }


  @include utils.media-max-width(1600) {
    padding: 110px 0 120px;

    &__title {
      margin-bottom: 75px;
    }

    &__inner {
      grid-template-columns: 400px 1fr;
      grid-column-gap: 80px;
    }

    &__info {
      max-width: 600px;

      &_position {
        font-size: 15px;
      }

      &_name {
        font-size: 34px;
        line-height: 42.5px;
        margin-bottom: 25px;
      }

      &_description {
        line-height: 38.4px;
        font-size: 24px;
        margin-bottom: 55px;
      }

      &_more {
        font-size: 15px;
      }
    }
  }

  @include utils.media-max-width(1279) {
    padding: 80px 0 90px;

    &__title {
      margin-bottom: 55px;
      max-width: 800px;
    }

    &__inner {
      grid-template-columns: 355px 1fr;
      grid-column-gap: 50px;
    }

    &__info {
      max-width: 555px;

      &_position {
        font-size: 14px;
      }

      &_name {
        font-size: 30px;
        line-height: 37.5px;
        margin-bottom: 20px;
      }

      &_description {
        line-height: 35.2px;
        font-size: 22px;
        margin-bottom: 50px;
      }

      &_more {
        font-size: 14px;
      }
    }
  }

  @include utils.media-max-width(1023) {
    padding: 75px 0 80px;

    &__title {
      margin-bottom: 45px;
      max-width: 800px;
    }

    &__inner {
      grid-template-columns: 215px 1fr;
      grid-column-gap: 35px;
    }

    &__info {
      margin-top: 0;
      max-width: 458px;

      &_position {
      }

      &_name {
        font-size: 27px;
        line-height: 33.75px;
        margin-bottom: 18px;
      }

      &_description {
        line-height: 28.8px;
        font-size: 18px;
        margin-bottom: 30px;
      }

      &_more {
        font-size: 13px;
      }
    }
  }

  @include utils.media-max-width(620) {
    padding: 60px 0;

    &__title {
      margin-bottom: 35px;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__image {
      display: flex;
      padding-top: 0;
      height: auto;

      &::before {
        height: 142px;
        width: 110px;
      }

      & > span {
        margin-right: 20px !important;
      }

      img {
        height: 142px !important;
        width: 110px !important;
        flex: 0 0 auto;
      }
    }

    &__info {
      margin-top: 0;
      max-width: 458px;

      &.mobile {
        display: block;
      }

      .desktop {
        display: none;
      }

      &_position {
        font-size: 12px;
        line-height: 16.8px;
        max-width: 105px;
      }

      &_name {
        font-size: 23px;
        line-height: 28.75px;
        margin: 0;
        max-width: 195px;
      }

      &_description {
        line-height: 25.6px;
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 20px;
      }

      &_more {
        display: inline-block;
        margin-top: 9px;
        font-size: 12px;
      }
    }
  }
}