@use "app/styles/use/utils";
@use "app/styles/use/colors";

.slider {
  margin-top: 195px;
  margin-bottom: 44px;

  &__inner {
    & > div {
      transition-timing-function: linear;
    }
  }

  &__item {
    width: fit-content !important;
  }

  &__link {
    color: rgba(173, 178, 182, 0.17);
    font-weight: 800;
    font-size: 110px;
    line-height: 132px;
    white-space: nowrap;
    transition: 400ms;

    &:hover {
      color: colors.$colorText;
    }
  }

  @include utils.media-max-width(1600) {
    margin-top: 130px;
    margin-bottom: 50px;

    &__link {
      font-size: 80px;
      line-height: 96px;
    }
  }

  @include utils.media-max-width(1279) {
    margin-top: 100px;
    margin-bottom: 45px;

    &__link {
      font-size: 70px;
      line-height: 84px;
    }
  }

  @include utils.media-max-width(1023) {
    margin-top: 90px;
    margin-bottom: 45px;

    &__link {
      font-size: 60px;
      line-height: 72px;
    }
  }

  @include utils.media-max-width(767) {
    margin-top: 60px;
    margin-bottom: 40px;

    &__link {
      font-size: 40px;
      line-height: 48px;
    }
  }
}
