@use "app/styles/use/colors";
@use "app/styles/use/utils";

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 39px;
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.1);
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: #fff;
    display: flex;
    align-items: center;

    svg {
      margin-top: -3px;
    }

    &_text {
      font-weight: 600;
      font-size: 15px;
      line-height: 21px;
      width: 133px;
      margin-left: 18px;
      display: block;
    }
  }

  &__navigation {
    margin-left: auto;
  }

  &__project {
    margin-left: 62px;
    background-color: colors.$bgLink;
    color: colors.$colorText;
    width: 178px;
    line-height: 48px;
    border-radius: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    transition: 600ms ease;

    &:hover {
      background-color: colors.$colorText;
      color: #fff;
    }
  }

  &__mobile {
    display: none;
    border-top: 1px solid rgba(241, 241, 241, 0.1);
    margin-top: 28px;
  }

  @include utils.media-max-width(1600) {
    padding-bottom: 27px;
    padding-top: 30px;

    &__logo {
      svg {
        width: 65px;
      }
    }

    &__project {
      font-size: 14px;
      width: 166px;
    }
  }

  @include utils.media-max-width(1279) {
    padding-bottom: 0;
    border-bottom: 0;
    overflow: hidden;

    &__navigation {
      display: none;
    }

    &__logo {
      &_text {
        font-size: 13px;
        line-height: 20px;
        margin-left: 17px;
      }
    }

    &__mobile {
      display: block;
    }
  }

  @include utils.media-max-width(767) {
    padding-top: 24px;
    &__logo {
      svg {
        width: 56px;
      }

      &_text {
        font-size: 12px;
        line-height: 16px;
        margin-left: 15px;
      }
    }

    &__project {
      margin-left: 0;
      font-size: 13px;
      width: 140px;
    }

    &__mobile {
      margin-top: 22px;
    }
  }
}