@use "app/styles/use/colors";
@use 'app/styles/use/utils';

.footer {
  padding-top: 65px;
  border-top: 1px solid #F0F0F0;
  padding-bottom: 32px;
  background-image: url('/images/bg__foter.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  a {
    color: colors.$colorText;
  }

  &__row {
    display: grid;
    grid-template-columns: 560px 1fr 255px;
    align-items: flex-start;
    margin-right: -40px;

    .mobile {
      display: none;
    }

    & + & {
      margin-top: 113px;
    }
  }

  &__col {

  }

  &__logo {
    display: flex;
    align-items: center;

    &_icon {

    }

    &_text {
      width: 133px;
      font-weight: 600;
      font-size: 15px;
      line-height: 21px;
      margin-left: 18px;
    }
  }

  &__navigation {
    li {
      position: relative;
      width: fit-content;
      cursor: pointer;
    }

    li + li {
      margin-top: 6px;
    }

    a {
      font-size: 17px;
      line-height: 23.8px;
      font-weight: 600;
      position: relative;
      display: inline-block;
      overflow: hidden;

      &:hover {
        span {
          transform: translateY(-105%);

          &:before {
            transform: skewY(7deg);
          }

          &:after {
            transform: skewY(0deg);
          }
        }
      }

      @include utils.media-max-width(1023) {
        &:hover {
          span {
            transform: translateY(0);

            &:before {
              transform: skewY(0);
            }

            &:after {
              transform: skewY(0deg);
            }
          }
        }
      }

      & span {
        display: inline-block;
        position: relative;
        z-index: 1;
        color: transparent;
        transition: transform 2s cubic-bezier(.19, 1, .22, 1),
        -webkit-transform 2s cubic-bezier(.19, 1, .22, 1),
        -moz-transform 2s cubic-bezier(.19, 1, .22, 1),
        -o-transform 2s cubic-bezier(.19, 1, .22, 1);

        &:before,
        &:after {
          content: attr(data-text);
          display: block;
          position: absolute;
          transition: transform 2s cubic-bezier(.19, 1, .22, 1),
          -webkit-transform 2s cubic-bezier(.19, 1, .22, 1),
          -moz-transform 2s cubic-bezier(.19, 1, .22, 1),
          -o-transform 2s cubic-bezier(.19, 1, .22, 1);
        }

        &:before {
          color: colors.$colorText;
          top: 0;
          transform: skewY(0);
          transform-origin: right bottom;
        }

        &:after {
          color: colors.$colorText;
          top: 105%;
          transform: skewY(7deg);
          transform-origin: left top;
        }
      }
    }

    .icon {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: colors.$purple;
      top: -2px;
      right: -8px;
    }

  }

  &__contacts {
    margin-top: 5px;
  }

  &__email {
    margin-bottom: 65px;

    &_label {
      color: #B1B6BE;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 2px;
    }

    &_link {
      color: colors.$colorText;
      font-size: 21px;
      line-height: 29px;
      font-weight: 600;

      span {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          height: 1px;
          background-color: colors.$colorText;
          bottom:0;
          display: block;
          width: 0;
          transition: width .4s;
          right:0;
          left: initial;
        }
      }

      &:hover {
        span::before {
          width: 100%;
          right:initial;
          left: 0;
        }
      }

    }
  }

  &__brief {
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 600;
    color: colors.$colorText;
    font-size: 17px;
    margin-bottom: 22px;

    &_icon {
      margin-right: 16px;

      svg {
        position: absolute;
        @include utils.absoluteXY();
        z-index: 1;
        transition: 400ms;
      }

      svg:first-child {
        transform: translate(-400%,-50%);
      }
    }

    &:hover {
      svg:first-child {
        transform: translate(-50%,-50%);
      }
      svg:last-child {
        transform: translate(400%,-50%);
      }
    }
  }

  &__pdf {
    display: flex;
    align-items: center;
    width: fit-content;

    &_info {
      font-weight: 600;
      font-size: 17px;
      line-height: 17px;
      color: colors.$colorText;
    }

    &_icon {
      margin-right: 16px;
      border-radius: 50%;
      border: 2px solid colors.$colorText;
      flex: 0 0 auto;
      width: 42px;
      height: 42px;
      position: relative;
      overflow: hidden;

      svg {
        position: absolute;
        @include utils.absoluteXY();
        transition: 400ms;

        &:first-child{
          transform: translate(-50%, -200%);
        }
      }
    }

    &_size {
      font-weight: 400;
      font-size: 14px;
      color: #B1B6BE;
      font-feature-settings: 'pnum' on, 'lnum' on;
      text-transform: uppercase;
      margin-top: 2px;
    }

    &:hover {
      svg:first-child{
        transform: translate(-50%, -50%);
      }
      svg:last-child{
        transform: translate(-50%, 200%);
      }
    }
  }

  &__bottom {
    font-size: 15px;
    font-weight: 600;

    a {
      font-size: 15px;
      font-weight: 600;
      position: relative;

      span {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          height: 1px;
          background-color: colors.$colorText;
          bottom:0;
          display: block;
          width: 0;
          transition: width .4s;
          right:0;
          left: initial;
        }
      }

      &:hover {
        span::before {
          width: 100%;
          right:initial;
          left: 0;
        }
      }
    }
  }

  @include utils.media-max-width(1600) {
    padding-top: 55px;
    padding-bottom: 30px;

    &__row {
      grid-template-columns: 480px 1fr 240px;
      margin-right: 0;

      & + & {
        margin-top: 95px;
      }
    }

    &__navigation {
      a {
        font-size: 16px;
        line-height: 22.4px;
      }

      li + li {
        margin-top: 5px;
      }
    }

    &__email {
      margin-bottom: 57px;

      &_label {
        font-size: 13px;
        margin-bottom: 2px;
      }

      &_link {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &__brief {
      margin-bottom: 27px;
      font-size: 16px;

      &_icon {
        width: 40px;
        height: 40px;
      }
    }

    &__pdf {
      &_info {
        font-size: 16px;
        line-height: 16px;
        white-space: nowrap;
      }

      &_icon svg {
        width: 40px;
        height: 40px;
      }

      &_size {
        font-size: 13px;
        line-height: 13px;
        margin-top: 5px;
      }
    }

    &__bottom {
      font-size: 14px;

      a {
        font-size: 14px;
      }
    }
  }

  @include utils.media-max-width(1279) {
    padding-top: 53px;

    &__row {
      grid-template-columns: 333px 1fr 240px;
      margin-right: 0;

      & + & {
        margin-top: 88px;
      }
    }

    &__navigation {
      a {
        font-size: 15px;
        line-height: 21px;
      }
    }

    &__email {
      margin-bottom: 53px;

      &_label {
        font-size: 12px;
      }

      &_link {
        font-size: 19px;
        line-height: 26.6px;
      }
    }

    &__brief {
      font-size: 15px;
    }

    &__pdf {
      &_info {
        font-size: 15px;
      }

      &_size {
        font-size: 12px;
        line-height: 12px;
      }
    }

    &__bottom {
      font-size: 13px;

      a {
        font-size: 13px;
      }
    }
  }

  @include utils.media-max-width(1023) {
    &__row {
      grid-template-columns: 355px 1fr;

      .mobile {
        display: block;
        grid-area: actions;
      }

      &.first__row {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 88px 1.7fr;
        gap: 0px 0px;
        grid-template-areas:
        "logo email"
        "actions navigation"
        ". .";
      }

      & + & {
        margin-top: 53px;
      }
    }

    &__contacts {
      .desktop {
        display: none;
      }
    }

    &__logo {
      grid-area: logo;
    }

    &__email {
      grid-area: email;
    }

    &__navigation {
      grid-area: navigation;
    }
  }

  @include utils.media-max-width(767) {
    padding-top: 38px;

    &__row {
      & + & {
        margin-top: 27px;
      }

      &.first__row {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "logo"
        "email"
        "actions"
        "navigation";
      }
    }

    &__logo {
      margin-bottom: 30px;
    }

    &__email {
      margin-bottom: 25px;
    }

    &__brief {
      margin-bottom: 25px;

      &_icon {
        span {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__navigation {
      padding-top: 31px;
      margin-top: 26px;
      padding-bottom: 16px;

      border-top: 1px solid #F0F0F0;
      border-bottom: 1px solid #F0F0F0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        margin-bottom: 10px;

        & + li {
          margin-top: 0;
        }

        i {
          right: auto !important;
          left: 55px;
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;

      .footer__col + .footer__col {
        margin-top: 15px;
      }
    }

  }

}