@use "app/styles/use/colors";
@use "app/styles/use/utils";

.circle {
  width: 42px;
  height: 42px;
  background-color: colors.$colorText;
  border-radius: 50%;
  flex: 0 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  transition: 400ms;

  @include utils.media-max-width(1600) {
    width: 39px;
    height: 39px;
  }

  @include utils.media-max-width(1279) {
    width: 38px;
    height: 38px;
  }

  @include utils.media-max-width(767) {
    width: 36px;
    height: 36px;
  }
}