@use "app/styles/use/utils";
@use "app/styles/use/colors";


.article {
  border: 1px solid #E8E8E8;
  padding: 46px 42px 52px 40px;
  display: flex;
  flex-direction: column;
  height: 411px;
  color: colors.$colorText;
  transition: 400ms;

  &:hover {
    border-color: colors.$colorText;
  }

  &__title {
    font-weight: 600;
    line-height: 28px;
    font-size: 21px;
  }

  &__portal {
    margin-top: auto;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__date {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 400;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  @include utils.media-max-width(1600) {
    padding: 30px 20px 40px 20px;
    height: 330px;

    &__title {
      font-size: 20px;
      line-height: 28px;
    }

    &__portal {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 2px;
    }

    &__date {
      font-size: 13px;
    }
  }

  @include utils.media-max-width(1279) {
    &__title {
      font-size: 19px;
      line-height: 26.6px;
    }

    &__portal {
      font-size: 19px;
      line-height: 26.6px;
    }

    &__date {
      font-size: 13px;
    }
  }

  @include utils.media-max-width(767) {
    padding: 30px 20px;
    height: 266px;

    &__title {
      font-size: 16px;
      line-height: 22.4px;
    }

    &__portal {
      font-size: 16px;
      line-height: 22.4px;
    }

    &__date {
      font-size: 12px;
    }
  }
}