@use "app/styles/use/typography";
@use "app/styles/use/colors";
@use "app/styles/use/utils";

.about {
  padding-top: 131px;
  padding-bottom: 150px;
  overflow: hidden;
  position: relative;

  &__container {
    padding-left: 26px;
    position: relative;
    z-index: 1;
  }

  &__title {
    @include typography.sectionTitle(colors.$colorText);
    max-width: 1220px;
    width: 100%;
    margin-bottom: 100px;
  }

  &__slider {
    overflow: visible;

    & > div {
      transition-timing-function: linear;
    }
  }

  &__slide {
    width: fit-content !important;
  }

  &__description {
    margin-top: 109px;
    border-top: 1px solid #E2E0E8;
    display: grid;
    grid-template-columns: 389px 1fr;
    grid-column-gap: 227px;
    padding-top: 82px;
    margin-left: -5px;

    &_title {
      font-weight: 600;
      font-size: 46px;
    }

    &_content {
      margin-top: 2px;
    }

    &_text {
      font-weight: 500;
      font-size: 26px;
      line-height: 42px;
    }

    &_project {
      margin-top: 57px;
      margin-left: 2px;
      @include typography.ButtonLink();
    }

    &_more {
      color: colors.$colorText;
      font-weight: 600;
      font-size: 14px;
      line-height: 10px;
      position: relative;
      padding-bottom: 4px;
      display: block;
      margin-top: 10px;

      &::before {
        position: absolute;
        content: '';
        height: 1px;
        background-color: colors.$colorText;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 400ms;
      }

      &:hover {
        &::before {
          left: 100%;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(120.56% 120.56% at 59.32% 114.32%, rgba(243, 233, 234, 0.4) 0%, rgba(251, 230, 232, 0.4) 16.15%, rgba(251, 227, 248, 0.4) 31.25%, rgba(236, 238, 253, 0.4) 47.92%, rgba(243, 248, 252, 0.4) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 0;
  }

  @include utils.media-max-width(1600) {
    padding-top: 100px;
    padding-bottom: 110px;

    &__container {
      padding-left: 0;
    }

    &__title {
      margin-bottom: 80px;
    }

    &__description {
      margin-top: 83px;
      padding-top: 73px;
      margin-left: 0;
      grid-template-columns: 300px 1fr;
      grid-column-gap: 180px;

      &_title {
        font-size: 34px;
      }

      &_content {
        margin-top: -2px;
      }

      &_text {
        font-size: 22px;
        line-height: 35.2px;
      }

      &_project {
        margin-top: 48px;
      }
    }
  }

  @include utils.media-max-width(1279) {
    padding-top: 81px;
    padding-bottom: 90px;

    &__title {
      margin-bottom: 75px;
    }

    &__description {
      margin-top: 80px;
      padding-top: 70px;
      grid-template-columns: 270px 1fr;
      grid-column-gap: 135px;

      &_title {
        font-size: 30px;
        line-height: 32px;
      }

      &_content {
        margin-top: -4px;
      }

      &_text {
        font-size: 20px;
        line-height: 32px;
      }

      &_project {
        margin-top: 38px;
      }
    }
  }

  @include utils.media-max-width(1023) {
    padding-top: 70px;
    padding-bottom: 75px;

    &__title {
      margin-bottom: 67px;
      margin-left: 0;
    }

    &__description {
      margin-top: 68px;
      padding-top: 62px;
      grid-template-columns: 1fr;

      &_title {
        font-size: 27px;
      }

      &_content {
        margin-top: 20px;
      }

      &_project {
        margin-top: 36px;
      }
    }
  }

  @include utils.media-max-width(767) {
    padding-top: 53px;
    padding-bottom: 60px;

    &__container {
      padding-left: 15px;
    }

    &__title {
      margin-bottom: 55px;
      line-height: 36.4px;
    }

    &__description {
      margin-top: 48px;
      padding-top: 47px;
      grid-template-columns: 1fr;

      &_title {
        font-size: 23px;
        line-height: 28.75px;
      }

      &_content {
        margin-top: 12px;
      }

      &_text {
        font-size: 18px;
        line-height: 28.8px;
      }

      &_project {
        margin-top: 29px;
      }
    }
  }
}